venv/
__pycache__/
.env
*.pyc
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/splits/*
!data/splits/.gitkeep
mlruns/
models/*.pkl
!models/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/metrics/*
!results/metrics/.gitkeep
.ipynb_checkpoints/
